<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>SpringJsonPoc</display-name>
	<!--<start id="param_contextConfigLocation" /> -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:service-context.xml classpath:dao-context.xml</param-value>
		
	</context-param>
	<!--<end id="param_contextConfigLocation" /> -->
	
	<!-- /WEB-INF/spitter-security.xml classpath:persistence-context.xml classpath:dataSource-context.xml -->
	
	<!--<start id="listener_ContextLoaderListener" /> -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--<end id="listener_ContextLoaderListener" /> -->
	
	<!--<start id="servlet_DispatcherServlet"/> -->
	<servlet>
		<servlet-name>spitter</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--<end id="servlet_DispatcherServlet"/> -->
	
	<!--<start id="servletmapping_DispatcherServlet" /> -->
	<servlet-mapping>
		<servlet-name>spitter</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!--<end id="servletmapping_DispatcherServlet" /> -->
	
</web-app>